@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
  
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #CC9933;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Muller', sans-serif;
    background: #E5E5E5;
}
  
a {
    color: inherit;
    text-decoration: none;
    transition: color .3s ease;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 261px;
}

.header__phone {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #666666;
}

.header__phone:hover {
    color: var(--main-color);
}

.header__login {
    padding-left: 30px;
    padding-top: 3px;
	background: url("../icons/keyboard_tab.svg") left center / 24px 24px no-repeat;
    font-size: 16px;
    line-height: 16px;
    color: var(--main-color);
    text-align: center;
}

.header__login:hover {
    color: #E9C479;
    background: url("../icons/keyboard_tab-hover.svg") left center / 24px 24px no-repeat;
}

.nav {
    margin-top: 30px;
    padding: 10px 45px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-link {
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.nav-link:hover {
    color: var(--main-color);
}

.divider {
    width: 1px;
    height: 50px;
    background: #E1E1E1;
}

.btn {
    padding: 13px 20px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-size: 16px;
    line-height: 16px;
    color: var(--main-color);
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.btn:hover {
    background-color: var(--main-color);
    color: #FFF;
    transform: translateY(1px);
}

.section__title {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    color: #333333;
}

/* Special */

.special {
    margin-top: 70px;
}

.special__list {
    display: grid;
    grid-template: repeat(2, minmax(258px, auto)) / repeat(2, 573px);
    grid-auto-rows: minmax(258px, auto);
    gap: 23px;    
}

#first {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/exclusive/maldiv_card.png') center center/cover no-repeat;
    border-radius: 15px;
}

#second {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/exclusive/krit_card.png') center center/cover no-repeat;
    border-radius: 15px;
}

#third {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/exclusive/lux_card.png') center center/cover no-repeat;
    border-radius: 15px;
}

.special__item {
    padding: 40px 234px 40px 40px;
}

.special__item:last-child {
    padding-top: 211px;
    padding-bottom: 41px;
}

.special__item-title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}

.special__item:last-child .special__item-title {
    font-size: 60px;
}

.special__item-subtitle {
    margin: 0;
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0.8;
}

.special__item:last-child .special__item-subtitle {
    font-size: 30px;
}

.special__item-link {
    display: inline-block;
    margin-top: 50px;
    font-size: 16px;
    color: #FFCC66;
    padding-right: 13px;
	background: url("/icons/right_icon.svg") right center / 11px 11px no-repeat;
    transition: background .1s ease;
}

.special__item-link:hover {
    color: white;
    background:url('/icons/right_icon-hover.svg') right center / 11px 11px no-repeat;
}

/* About */

.about {
    margin-top: 70px;
}

.about__descr {
    padding: 0 8px;
    padding-right: 290px;
    font-size: 16px;
    line-height: 200%;
    font-weight: normal;
    color: #000000;
}

/* Attendance */

.attendance {
    margin-top: 70px;
}

.attendance__list {
    display: grid;
    grid-template: repeat(2, minmax(330px, auto)) / repeat(2, 1fr);
    grid-auto-rows: minmax(330px, auto);
    gap: 23px;
}

.attendance__item {
    background-color: #FFF;
    border-radius: 15px;
}

.attendance__item-img {
    width: 100%;
}

.attendance__item-title {
    display: inline-block;
    margin-top: 26px;
    margin-left: 45px;
    font-size: 20px;
    line-height: 200%;
    font-weight: 500;
    color: var(--main-color);
    padding-right: 18px;
	background: url("../icons/right_icon.svg") right center / 11px no-repeat;
}

.attendance__item-descr {
    padding-left: 45px;
    padding-right: 136px;
    font-size: 16px;
    font-weight: normal;
    line-height: 200%;
}

/* Adventages */

.advantages {
    margin-top: 70px;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    grid-template-rows: repeat(2, minmax(275px, auto));
    grid-auto-rows: minmax(275px, auto);
    gap: 23px;
}

.advantages__item {
    padding: 40px 42px 41px 45px;
    background-color: #FFF;
    border-radius: 15px;
}

.advantages__descr {
    margin-top: 10px;
    font-size: 16px;
    line-height: 200%;
    font-weight: normal;
}

/* Placement */

.placement {
    margin-top: 70px;
}

.placement__list {
    display: grid;
    grid-template: repeat(3, minmax(440px, auto)) / repeat(3, 374px);
    grid-auto-rows: minmax(440px, auto);
    gap: 23px;
}

.placement__item {
    border-radius: 15px;
    background-color: #FFF;
}

.placement__item-img {
    width: 100%;
}

.placement__item-info {
    padding: 36px 46px 41px 45px;
}

.placement__item-price {
    display: flex;
    justify-content: space-between;
}

.placement__item-price-title {
    font-size: 16px;
    font-weight: 500;
}

.placement__item-price-title span {
    color: #999999;
}

.placement__item-price-title strong {
    font-size: 20px;
    font-weight: 700;
}

.placement__item-title {
    margin-top: 16px;
    font-size: 16px;
}

.placement__item-subtitle {
    margin-top: 16px;
    font-size: 16px;
    color: #999999;
}

.placement__item-btn {
    display: inline-block;
    margin-top: 20px;
}

.placement__item_last {
    position: relative;
}

.placement__item_last img {
    height: 100%;
}

.placement__link {
    position: absolute;
    width: 280px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    padding-right: 20px;
	background: url("../icons/right-white_icon.svg") right center / 11px no-repeat;
}

.placement__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

/* Tour */

.tour {
    margin-top: 70px;   
}

.tour__container {
    background: #E9E9E9;
    border-radius: 15px;
    padding: 40px 0 71px 0;
}

.tour__form {
    margin: 0 45px;
    padding: 31px 28px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 15px;
}

.form__item {
    display: flex;
    flex-direction: column;
}

.form__item:not(:last-child) {
    margin-right: 20px;
}

.form__item:not(:first-child) {
    margin-left: 20px;
}

.form__item-date {
    padding-top: 5px;
}

label {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

input, select {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Muller';
    font-size: 16px;
    line-height: 1;
    color: #000000;
    padding-bottom: 1px;
}

select {
    transform: translateX(-5px);
}

.search__btn {
    margin-left: 20px;
    padding: 13px 30px;
    font-size: 16px;
    line-height: 16px;
    color: var(--main-color);
    background-color: transparent;
    cursor: pointer;
}

#date {
    padding-bottom: 7px;
}

#cities, #countries {
    width: 170px;
}

#date, #nights, #tourists {
    width: 121px;
}

#nights, #tourists {
    border-bottom: 1px solid #CCCCCC;
}

::-webkit-calendar-picker-indicator{
    margin-left: 5px;
    transform: translateY(-1px);
}

/* Contacts */

.contacts {
    margin-top: 70px;
}

.contacts__grid {
    padding: 44px 44px 46px 46px;
    justify-content: space-between;
    display: flex;
    background: #FFFFFF;
    border-radius: 15px;
}

.contacts__info {
    width: 375px;
    margin-right: 50px;
}

.contacts__divider {
    width: 100%;
    height: 1px;
    background: #C4C4C4;
    margin: 25px 0;
}

.contacts__item {
    display: flex;
}

.contacts__info-title {
    width: 40%;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: #000;
}

.contacts__info-subtitle {
    margin-left: 0;
    width: 249px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-style:unset;
}

.contacts__info-subtitle span {
    line-height: 1;
    color: #999999;
}

.contacts__link {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--main-color);
}

.contacts__btn {
    display: inline-block;
    margin-top: 20px;
    padding: 27px 29px;
    font-weight: 700;
}

.contacts__img {
    max-width: 653px;
    max-height: 528px;
}

/* Footer */

.footer {
    margin: 20px 0;
}

.footer__grid {
    position: relative;
    padding: 44px 336px 46px 52px;
    background: #333333;
    border-radius: 15px;
    display: grid;
    grid-template: repeat(3, minmax(50px, auto)) / 320px minmax(360px, auto);
    column-gap: 70px;
    row-gap: 13px;
}

.footer__item {
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    color: #FFFFFF;
}

.footer__link {
    display: block;
    color: var(--main-color);
}

.footer__item-agreement {
    padding-top: 30px;
}

.footer__address {
    font-style: unset;
}

.footer__logo {
    position: absolute;
    bottom: 0;
    right: 210px;
    width: 254px;
    height: 228px;
}

.footer__img {
    width: 100%;
    height: 100%;
}

.footer__social {
    position: absolute;
    right: 50px;
    top: 51px;
}

.footer__social-item {
    width: 25px;
    height: 25px;
}

.footer__social-item:not(:last-child) {
    margin-bottom: 20px;
}

.footer__social-icon {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}